* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: rgb(91, 201, 201);
    font-family: Arial, sans-serif;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: wheat;
}
